.container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .section {
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  .content {
    flex: 1;
  }
 
  .sec2{
    margin-top: 50px;
  }
  .sec3{
    margin-top: 200px;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    line-height: 1.6;
  }
  
  .image {
    flex: 1;
    text-align: right;
    margin-top: 100px;
    margin-left: 30px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add box-shadow for a subtle shadow effect */
  }

  